flow
[{"id":"561a60a2.de31","type":"change","z":"dd8bfb25.a75d48","name":"Message Properties","rules":[{"t":"set","p":"from","pt":"msg","to":"","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"","tot":"str"},{"t":"set","p":"cc","pt":"msg","to":"","tot":"str"},{"t":"set","p":"bcc","pt":"msg","to":"","tot":"str"},{"t":"set","p":"subject","pt":"msg","to":"","tot":"str"},{"t":"set","p":"description","pt":"msg","to":"","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"","tot":"str"},{"t":"set","p":"screen_name","pt":"msg","to":"","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"","tot":"str"},{"t":"set","p":"media","pt":"msg","to":"","tot":"str"},{"t":"set","p":"URL","pt":"msg","to":"","tot":"str"},{"t":"set","p":"Numbers","pt":"msg","to":"","tot":"str"},{"t":"set","p":"Message","pt":"msg","to":"","tot":"str"},{"t":"set","p":"fieldid","pt":"msg","to":"","tot":"str"},{"t":"set","p":"qos","pt":"msg","to":"","tot":"str"},{"t":"set","p":"retain","pt":"msg","to":"","tot":"str"},{"t":"set","p":"targets","pt":"msg","to":"","tot":"str"},{"t":"set","p":"motechat","pt":"msg","to":"","tot":"str"},{"t":"set","p":"URT","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.4761962890625,"y":188,"wires":[["12e3dc17.2f65a4"]]},{"id":"4fd89481.cbf67c","type":"inject","z":"dd8bfb25.a75d48","name":"URT_Comm","topic":"URT://DDN||{MAIL-\"From\"()_\"To\"[]_\"Cc\"<>_\"Bcc\"Aa_\"Subject\"Bb_\"Body\"Cc_\"Attachment\"Dd||TWEET-\"Screen_Name\"Ee_\"Text\"Ff_\"Media\"Gg_\"URL\"Hh||SMS-\"Number\"Ii_\"Message\"Jj||PLOT-\"Field ID\"Kk||MQTT_PUB-\"QoS\"Ll_\"Retain\"Mm}","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":75,"y":187.6825408935547,"wires":[["561a60a2.de31"]]},{"id":"12e3dc17.2f65a4","type":"function","z":"dd8bfb25.a75d48","name":"Topic_expand_use","func":"len = msg.topic.length;\npos = msg.topic.search(\":\");\nif (pos===0)\n   { msg.motechat=0 }\nelse\n    { msg.motechat=1\n\nif(msg.topic.substring(pos+3,pos+4)!=\"{\") {\n    msg.targets = msg.topic.substring(pos+3);\n    msg.URT = msg.topic.substring(0,pos);\n}\nelse\n{\n    var rco = msg.topic.search(\"(\");\n    var rcc = msg.topic.search(\")\");\n    var sco = msg.topic.search(\"[\");\n    var scc = msg.topic.search(\"]\");\n    var tco = msg.topic.search(\"<\");\n    var tcc = msg.topic.search(\">\");\n    var aco = msg.topic.search(\"A\");\n    var acc = msg.topic.search(\"a\");\n    var bco = msg.topic.search(\"B\");\n    var bcc = msg.topic.search(\"b\");\n    var cco = msg.topic.search(\"C\");\n    var ccc = msg.topic.search(\"c\");\n    var dco = msg.topic.search(\"D\");\n    var dcc = msg.topic.search(\"d\");\n    var eco = msg.topic.search(\"E\");\n    var ecc = msg.topic.search(\"e\");\n    var fco = msg.topic.search(\"F\");\n    var fcc = msg.topic.search(\"f\");\n    var gco = msg.topic.search(\"G\");\n    var gcc = msg.topic.search(\"g\");\n    var hco = msg.topic.search(\"H\");\n    var hcc = msg.topic.search(\"h\");\n    var ico = msg.topic.search(\"I\");\n    var icc = msg.topic.search(\"i\");\n    var jco = msg.topic.search(\"J\");\n    var jcc = msg.topic.search(\"j\");\n    var kco = msg.topic.search(\"K\");\n    var kcc = msg.topic.search(\"k\");\n    var jco = msg.topic.search(\"L\");\n    var jcc = msg.topic.search(\"l\");\n    var kco = msg.topic.search(\"M\");\n    var kcc = msg.topic.search(\"m\");\n    msg.from = msg.topic.substring(rco+1,rcc);\n    msg.to = msg.topic.substring(sco+1,scc);\n    msg.cc = msg.topic.substring(tco+1,tcc);\n    msg.bcc = msg.topic.substring(aco,acc);\n    msg.subject = msg.topic.substring(bco+1,bcc);\n    msg.description = msg.topic.substring(cco+1,ccc);\n    msg.filename = msg.topic.substring(dco+1,dcc);    msg.text = msg.topic.substring(bco+1,bcc);\n    msg.screen_name = msg.topic.substring(eco+1,ecc);\n    msg.text = msg.topic.substring(fco+1,fcc);\n    msg.media = msg.topic.substring(gco+1,gcc);\n    msg.URL = msg.topic.substring(hco+1,hcc);\n    msg.Numbers = msg.topic.substring(ico+1,icc);\n    msg.Message = msg.topic.substring(jco+1,jcc);\n    msg.fieldid = msg.topic.substring(kco+1,kcc);\n    msg.qos = msg.topic.substring(lco+1,lcc);\n    msg.retain = msg.topic.substring(mco+1,mcc);\n    msg.URT = msg.topic.substring(0,pos); \n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":610.4762573242188,"y":187.5714111328125,"wires":[["f6351d56.26c19"]]},{"id":"f6351d56.26c19","type":"switch","z":"dd8bfb25.a75d48","name":"Function Switcher","property":"URT","propertyType":"msg","rules":[{"t":"eq","v":"mail","vt":"str"},{"t":"eq","v":"tweet ","vt":"str"},{"t":"eq","v":"sms","vt":"str"},{"t":"eq","v":"plot","vt":"str"},{"t":"eq","v":"pub","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":889.8333892822266,"y":187.78570175170898,"wires":[["a4688a81.d80a98"],["e17d1966.5fd248"],["de7f9936.f5d128"],["7d291a84.d9e1a4"],["5cfe1dff.f4a1d4"]]},{"id":"a4688a81.d80a98","type":"e-mail","z":"dd8bfb25.a75d48","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Email","x":1144.0476913452148,"y":32.928547859191895,"wires":[]},{"id":"e17d1966.5fd248","type":"twitter out","z":"dd8bfb25.a75d48","twitter":"","name":"Tweet","x":1140.8730659484863,"y":112.92858123779297,"wires":[]},{"id":"de7f9936.f5d128","type":"sms","z":"dd8bfb25.a75d48","name":"SMS","message":"","numbers":"","throttle":1000,"twilio":"f482ff93.faf46","x":1138.3333587646484,"y":187.21425342559814,"wires":[[]]},{"id":"7d291a84.d9e1a4","type":"ThingspeakSendSimple","z":"dd8bfb25.a75d48","name":"Plot","writekey":"WGRQW59QXN6RTIKW","fieldid":"1","x":1134.0477142333984,"y":265.785683631897,"wires":[]},{"id":"5cfe1dff.f4a1d4","type":"mqtt out","z":"dd8bfb25.a75d48","name":"mqtt","topic":"test_ypc","qos":"0","retain":"false","broker":"3dcefcef.0e9514","x":1135.3334159851074,"y":344.64288425445557,"wires":[]},{"id":"f482ff93.faf46","type":"twilioConfig","z":"","name":"Twilio"},{"id":"3dcefcef.0e9514","type":"mqtt-broker","z":"","name":"","broker":"http://broker.hivemq.com","port":"1883","clientid":"hj_ypc","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
